VESTI_API_BASE_URL=https://integracao.meuvesti.com/api
VESTI_API_TOKEN=
VESTI_COMPANY_ID=
VESTI_API_TOKEN_HEADER_NAME=apikey

UPZERO_API_BASE_URL=https://api.upzero.com.br
UPZERO_API_TOKEN=
UPZERO_API_TOKEN_HEADER_NAME=X-API-KEY
